
<form action="<%=@cat.persisted? ? cat_url(@cat) : cats_url%>" method="post">
  <input type="hidden" name="_method" value=<%=@cat.persisted? ? 'PATCH' : 'POST' %>>

  <input type='text' name="cat[name]" value='<%= @cat.name %>'>
  <br>
  <input type='date' name="cat[birth_date]" value='<%= @cat.birth_date %>'>
  <br>
  <input type="radio" name="cat[sex]" id="cat_sex_female" value="f" <%= @cat.sex == 'm' ? 'checked' : nil %> >
  <label for="cat_sex_female">Female</label>
  <br>

  <input type="radio" name="cat[sex]" id="cat_sex_male" value="m" <%= @cat.sex == 'm' ? 'checked' : nil %>>
  <label for="cat_sex_male">Male</label>
  <br>
  <label for="cat_coat_color">Coat color</label>
  <select name="cat[color]" id="cat_color" select='calico'>
    <option value="<option>">option</option>
    <% Cat::COLORS.each do |color| %>
      <option value="<%= color %>" selected='<%= @cat.color == color %>'><%= color %></option>
    <% end %>
  </select>
  <br>
  <label for="cat_description">Cat's Life Story</label>
  <br>
  <textarea name="cat[description]" id="cat_description" ><%= @cat.description %></textarea>
  <br>
  <input type="submit" value="<%= @cat.persisted? ? 'update' : 'create' %>">
</form>
