<table border="1" style="width:100%">
  <tr>
    <td><%= @cat.name %></td>
    <td><%= @cat.sex %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.birth_date %></td>
    <td><%= @cat.age %></td>
    <td><%= @cat.description %></td>
  </tr>
</table>

<table border="1" style="width:100%">
  <% @cat.cat_rental_requests.each do |request| %>
    <td><%= request.start_date %></td>
    <td><%= request.end_date %></td>
  <% end %>

</table>
